<h1>Webpacker + CoffeeScript + Stylus + ActionCable sample app</h1>

<a href="https://github.com/rachel-carvalho/webpack-coffee-styl-actioncable">view on GitHub</a>
<%= javascript_pack_tag 'application' %>
